* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1.8;
  color: #555;
  background-color: coral;
}

.overall {
  height: 80vh;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem 2.5rem;
  border: 1px solid black;
}

.box {
  border: 2px solid orangered;
  border-radius: 6px;
  cursor: pointer;
}

.score-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -54%);
  height: 25rem;
  width: 40rem;
  background-color: rgb(241, 193, 114);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  border-radius: 7px;
  z-index: 2;
  border: 2px solid orangered
}

.hidden {
  display: none;
}

.overlay {
  background-color: rgb(174, 173, 173);
  opacity: 70%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.score-card h1 {
  font-size: 3.5rem;
}

.score-card p {
  font-weight: 400;
  font-size: 3rem;
}

.active {
  animation-name: blink;
  animation-duration: 1s;
}

@keyframes blink {
  0% {
    background-color: #444;
  }
  100% {
    background-color: coral;
  }
}
